<div class="container">
    <div class="row mt-2 text-dark">
        <h2 class="text-center">My Habits</h2>
    </div>

    <div class="row my-3">
        <form action="/habits/create" method="post">
            <input type="text" class="form-control p-3" name="habit" placeholder="Which daily activity do you want to keep track of ?">
            <div class="d-grid d-md-flex justify-content-center my-3">
                <button class="btn btn-primary rounded-pill" style="background-color: rgb(7, 85, 103); border: none; white-space: nowrap;" type="submit">Add a New Habit</button>
            </div>
        </form>
    </div>
</div>

<div class="container">

    <div class="row border">
        <div style="text-align: center; font-weight: 700; color: rgb(7, 85, 103);">
            <a style="color: rgb(7, 85, 103); font-size: large; text-decoration: none;" href="/habits/dashboard">
                Today's Activities
            </a> | 
            <a style="color: grey; font-size: large; text-decoration: none;" href="/habits/dashboard-weekly">
                Activities for the week
            </a>
        </div>
        <% if(habits.length > 0){ %>
            <ol class="list-group list-group-numberd">
                <% for(let habit of habits){ %>

                    <li class="list-group-item d-flex justify-content-between align-items-start m-2">
                        <div class="me-auto">
                            
                            <div class="fw-bold" style="text-align:left">
                                <%= habit.content.charAt(0).toUpperCase() + habit.content.slice(1); %>
                                <a href="/habits/delete/<%= habit.id %>">
                                    <img src="/images/bin.png"" class="delete">
                                </a>
                            </div>
                          
                            <span class="badge bg-success rounded-pill">
                                Current Streak : <%= habit.streak %>/7
                            </span>
                            <span class="badge bg-success rounded-pill">
                                Completed : <%= habit.completed %>/7
                            </span>
                           
                        </div>

                        <% let color = "secondary" %>
                        <% if(habit.days[0] == 'Done'){ %>
                            <% color = "success" %>
                        <% }else if(habit.days[0] == 'Not Done'){ %>
                            <% color = "danger" %>
                        <% } %>
                   
                        <div>
                            <button class="btn btn-<%= color %> dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true"><%= habit.days[0] %></button>

                            <ul style="z-index: 99!important" class="dropdown-menu index" aria-labelledby="dropdownMenuButton" style="z-index: 2;">
                                <li>
                                    <a class="dropdown-item" href="/habits/update/<%= habit.id %>/<%= 0 %>/Done">Done</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/habits/update/<%= habit.id %>/<%= 0 %>/Not%20Done">Not Done</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/habits/update/<%= habit.id %>/<%= 0 %>/None">None</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                <% } %>
            </ol>
        <% } %>

    </div>

</div>



